{% extends 'base.html' %}

{% block content %}
<style>
    @media (prefers-color-scheme:dark) {
            body{
                background-color: #1c1c1e;
                color:#fefefe;
            }
            a{
                color:#5fa9ee;
            }
        } 
      div.card {
          margin: auto;
    width: 50%;
          height: 50%;
    border: 5px solid lightblue;
    top: 50%;
      position: relative;
    display: block;
    transform: translate(10%, 80%)
      }
  </style>
  <div id="card" class="card" style="width: 28rem;">
    <div class="card-body">
     <center> <h4 class="card-subtitle mb-2 text-muted">Upload Image</h4></center>
     <br>
     <form action="{% url 'imageupload' %}" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
            <div>
            <div class="col-auto">
                                                       
                               <center>
                      <input type="file" name="images">             
                            <div id="button">
                            <button type="submit" class="btn btn-primary">Upload</button> 
                            </div>
                          </center>                 
            </form>
    </div>
  </div>

  

  {% endblock content %}

